@import url("https://fonts.googleapis.com/css?family=Poppins:wght@100,200;400;700");
/* Please ❤ this if you like it! */
/* Follow Me https://codepen.io/designfenix */
 body {
	 background: #f9fbfc;
	 height: 100%;
}
 .module {
	 background: white;
	 font-family: Poppins, sans-serif;
	 border-radius: 25px;
	 padding: 20px;
	 box-shadow: 3px 3px 15px rgba(0, 0, 0, .1);
	 height: 680px;
}
 .module .notify {
	 margin-bottom: 20px;
}
 .module .notify img {
	 width: 100%;
}
 .module .heading h2 {
	 font-weight: 100;
	 font-size: 30px;
	 margin-bottom: 10px;
	 color: #aaa;
}
 .module .heading h3 {
	 font-weight: 700;
	 font-size: 32px;
	 color: #212121;
}
 .module .tabs {
	 margin: 30px 0;
	 position: relative;
}
 @media (max-width: 768px) {
	 .module .tabs {
		 margin-bottom: 0;
	}
}
 .module .tabs .slide-line {
	 display: block;
	 padding: 0;
	 margin: 0;
	 background: none #efc352;
	 position: absolute;
	 height: 4px;
	 border-radius: 5px;
	 z-index: 0;
	 left: 43px;
	 width: 8px;
	 top: 21px;
}
 .module .tabs ul {
	 display: flex;
	 justify-content: space-around;
	 margin: 10px 0;
}
 .module .tabs ul li {
	 display: block;
	 transition: ease all 0.3s;
	 color: #aaa;
	 cursor: pointer;
	 font-size: 14px;
}
 .module .tabs ul li.active {
	 transform: scale(1.3);
	 color: #212121;
	 font-weight: bold;
}
 .module .products-wrapper {
	 width: calc(100% + 40px);
	 margin-left: -20px;
	 position: relative;
	 height: 100%;
}
 .module .products-wrapper .slider {
	 left: 0;
	 top: 0;
	 right: 0;
	 width: 100%;
	 position: absolute;
	 overflow: hidden;
	 padding: 30px 0;
}
 .module .products-wrapper .slider .slick-list {
	 padding: 0 30% 0 0;
}
 .module .products-wrapper .slider .card {
	 z-index: 2;
	 display: inline-block;
	 background-color: #fafbfd;
	 border-radius: 20px;
	 border: none;
	 transition: ease all 0.3s;
	 margin: 0 15px;
	 position: relative;
}
 .module .products-wrapper .slider .card:focus {
	 box-shadow: none;
	 border: none;
	 outline: none;
}
 .module .products-wrapper .slider .card .calories {
	 position: absolute;
	 left: 15px;
	 top: 15px;
	 cursor: pointer;
	 vertical-align: middle;
}
 .module .products-wrapper .slider .card .calories .icon {
	 vertical-align: middle;
}
 .module .products-wrapper .slider .card .calories .icon svg {
	 width: 20px;
	 height: 20px;
}
 .module .products-wrapper .slider .card .calories .text {
	 font-size: 12px;
	 color: #aaa;
	 line-height: 20px;
	 vertical-align: middle;
}
 .module .products-wrapper .slider .card .loved {
	 position: absolute;
	 right: 15px;
	 top: 15px;
	 cursor: pointer;
}
 .module .products-wrapper .slider .card .loved svg {
	 fill: #aaa;
}
 .module .products-wrapper .slider .card .card-img-top {
	 pointer-events: none;
	 width: 150px;
	 height: 150px;
	 margin: 30px auto;
	 margin-top: 60px;
	 display: block;
	 border-radius: 100%;
	 overflow: hidden;
	 border: 8px solid white;
	 box-shadow: 0 5px 20px rgba(0, 0, 0, .1), 5px 3px 15px #f7e3ce;
}
 .module .products-wrapper .slider .card .card-body {
	 padding: 0 10px;
}
 .module .products-wrapper .slider .card .card-body .card-title {
	 color: #212121;
	 font-weight: 200;
	 font-size: 22px;
	 margin: 0;
}
 .module .products-wrapper .slider .card .card-body .card-text {
	 margin-top: 5px;
	 color: #aaa;
	 font-size: 13px;
	 font-weight: 200;
}
 .module .products-wrapper .slider .card .card-body .card-price {
	 margin-top: 5px;
	 color: #212121;
	 font-size: 23px;
	 font-weight: 400;
	 margin-top: 20px;
}
 .module .products-wrapper .slider .card .card-body .btn {
	 float: right;
	 padding: 0;
	 height: 40px;
	 width: 40px;
	 line-height: 40px;
	 border-radius: 100%;
	 box-shadow: 3px 5px 20px rgba(0, 0, 0, .1);
}
 .dribbble {
	 position: fixed;
	 display: block;
	 right: 20px;
	 bottom: 20px;
}
 .dribbble img {
	 display: block;
	 height: 28px;
}
 .dev {
	 position: fixed;
	 top: 0;
	 left: 0;
	 padding: 1em;
	 background-color: white;
}
 